/*fonts*/
@font-face{
    font-family: portfolio;
    src:url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@font-face{
    font-family: rubik;
    src:url("../fonts/Rubik/Rubik-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    width: 95%;
    border: 1px solid black;
    background-image: linear-gradient(silver,rgb(41, 41, 85)); /* adds a background*/ 
    
    margin:auto;
    font-family: rubik, Arial, Helvetica, sans-serif;
    box-shadow: 0.5em 0.5em 0.5em black; /*creates a 3d effect*/
}




nav{
    margin-bottom: 1em;
      /*rounds the corners of elements
     background-color: white; change the background color of the nav element*/
     font-weight: bold;
     text-align: center;
}

nav a{
    color:white;
}



        

h1{
    font-size: 3em;
    text-align: center;
    font-family: rubik;
    color:gold;
    text-shadow: 0 0 3px #FF0000;
    
}

h2{
    font-size: 2em;
    font-family: rubik;
    color:gold;
    text-shadow: 0 0 3px #FF0000;
    
}

main{

     margin-top: 1em; /*adds space at the top of the main element
     */border-radius: 1em; /*rounds the corners of elements*/
     
     min-height:400px;
     padding: 1em;
}

    
   


    
   


.hero{
    width: 95%;
    display:inline-flex;
    align-content:center;
    justify-content: center;
    margin:auto;
}
.myPic{
    width:40%;
    padding: 10px;
    justify-items:center;
    align-content:center;

}

.Mytext{

    width:40%;
    padding:10px;
    justify-content: space-around;
    align-content: center;
}
/*.headingImage img{
    width:20%;
}*/

.aboutme{
  
    width: 55%;
    padding: 10px;
    margin-right:2%;
    justify-content: center;
    align-content:space-center;

}

.myPic{
    justify-items:center;
    align-items: center;
    
    
    

}
.myPic img{
    width:70%;
    /*height:auto;*/
    float:right;
}
.my_projects{
    width:95%;
    padding:10px;
    margin: auto;
}
.flexContainer{
   
    display:flex;
    width:95%;
    height:200px;
    margin:auto;
    padding: 15px;
    align-items:center;
    justify-content: center;
  
    
}

.flexItem{
    background-color: white;
    width: 20%;
    padding: 5px;
   
    height: 150px;
    /*display: flex;*/
    border: 1px solid black;
    justify-content:center;
    align-content: center;

}
.skillsContainer{
    display:inline-flex;
    width: 94%;
    background-color: white;
    align-items: center;
    justify-items: center;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
   
    padding-left:10px;   
}

.skill{
    display:inline-flex;
   justify-items:center;
    align-items:center;
    width: 22%;
    margin:auto;
    padding-right:10px;
}

.navContainer{
    display:flex;
   
    
   min-height: 2.75 ream;
    
    align-items:center;
  
    height: 50px;
    
}
.navItem{
  
   display:flexbox;
   justify-items:center;
    align-content:center;
    font-weight:700;
    padding:10px;
    margin-right: 20%;
    margin-left: 10%;
   
    
   
    background-color: black;
    color:white;
    gap: 200px;
    box-shadow: 0.4em 0.4em 0.4em black;
    
}
form{
    width:70%;
    margin:auto;
}
.contactLabel{
    width:250px;
   margin:auto;
   
   height:20px;

}
.contactInput{
    width:400px;
    margin-left: 20px;
    margin-bottom:20px;
    height: 30px;
    
}