<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./css/portfolio.css"/>
<script src="./scripts/portfolio.js"></script>

<title> Terry Martin portfolio - home page</title> 
<!--Dont forget to change the title-->


</head>

<body>

  <header>
   
  </header>
  <nav class="navContainer">
    <a href="index.html" class="navItem">home</a>
    <a href="about.html"class="navItem">about</a>
     <a href="contact.html"class="navItem">contact</a>

  </nav>

  <main>

<div class=hero>
  <div class="title">
    <h1>Website Portfolio</h1>
  </div>
  <img src="./media/LR-0009.jpg"/>
  <div class="aboutme">
    <h1>Terry Martin222</h1>
    <img src="./media/"
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <img src="./media/"
  </div>
</div>

<div class="my_projects">
<!--a brief summar and why they have been chosen-->

<h2> My projects</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>

<div class="flexContainer">
  <!--flexbox-->
  <div class="flexItem">
    <h3>Project1</h3>
    <p>some stuff about project1</p>
    <a href="#">Visit Project</a>
  </div>
  <div class="flexItem">
    <h3>Project2</h3>
    <p>some stuff about project12</p>
    <a href="#">Visit Project2</a>
  </div>
  <div class="flexItem">
    <h3>Project3</h3>
    <p>some stuff about project13</p>
    <a href="#">Visit Project3</a>
  </div>
  <div class="flexItem">
    <h3>Project3</h3>
    <p>some stuff about project13</p>
    <a href="#">Visit Project3</a>
  </div>
  <div class="flexItem">
    <h3>Project4</h3>
    <p>some stuff about project14</p>
    <a href="#">Visit Project4</a>
  </div>
</div>
<div class="skillsContainer">

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
  </main>


  <footer>


  </footer>
</body>
</html>